#snippets for Django
snippet if
{% if ${1}}
${2}
{% endif %}
endsnippet

snippet var
{{ ${1} }}
endsnippet

snippet for
{% for ${1} in ${2} %}
${3}
{% endfor %}
endsnippet

snippet ifeq
{% ifequal ${1} ${2} %}
${3}
endsnippet

